-target 1.6
-dontobfuscate
-dontoptimize
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-verbose

# -optimizationpasses 4
# The -optimizations option disables some arithmetic simplifications that Dalvik 1.0 and 1.5 can't handle. 
-optimizations !code/simplification/arithmetic

# http://www.simpligility.com/2010/12/hints-for-using-proguard-on-your-android-app/
-keepattributes *Annotation*

#####
-keep class fr.ippon.android.opendata.**
-keep class fr.ybo.opendata.nantes.**
-keep class fr.ybo.moteurcsv.**

#####
# http://actionbarsherlock.com/faq.html
-keep class android.support.v4.app.** { *; }
-keep interface android.support.v4.app.** { *; }
-keep class com.actionbarsherlock.** { *; }
-keep interface com.actionbarsherlock.** { *; }


#####
# http://code.google.com/p/roboguice/wiki/ProGuard
-keep public class * extends android.app.Activity 
-keep public class * extends android.app.Application 
-keep public class * extends android.app.Service 
-keep public class * extends android.content.BroadcastReceiver 
-keep public class * extends android.content.ContentProvider
-keep class com.google.inject.Binder
-keepclassmembers class * {
    @com.google.inject.Inject <init>(...);
}
# There's no way to keep all @Observes methods, so use the On*Event convention to identify event handlers
-keepclassmembers class * { 
    void *(**On*Event); 
}
-keep public class * extends android.view.View {
    public <init>(android.content.Context);
    public <init>(android.content.Context, android.util.AttributeSet);
    public <init>(android.content.Context, android.util.AttributeSet, int);
    public void set*(...);
} 
-keep public class roboguice.**

####
-keep public class * extends com.google.inject.AbstractModule
-keepclassmembers class com.google.** {
    private void finalizeReferent();
    protected void finalizeReferent();
    public void finalizeReferent();
    void finalizeReferent();
	private *** startFinalizer(java.lang.Class,java.lang.Object);
	protected *** startFinalizer(java.lang.Class,java.lang.Object);
	public *** startFinalizer(java.lang.Class,java.lang.Object);
	*** startFinalizer(java.lang.Class,java.lang.Object);
}
-keep class com.google.common.base.internal.Finalizer
-keep interface com.google.common.base.FinalizableReference

####
-dontwarn roboguice.activity.RoboMapActivity
-dontwarn roboguice.test.**
-dontwarn org.osmdroid.contributor.**
-dontwarn android.support.**
-dontwarn com.google.common.collect.*
-dontnote javax.xml.**
-dontnote org.xml.sax.**
-dontnote org.w3c.dom.**